body {
    margin: 10px auto;
    min-width: 300px;
    max-width: 100%;
    background-color: silver;
  }
  * {
    box-sizing: border-box;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  ul li {
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  }
  
  /* Set zebra-stripes: all odd list items to a different color */
  ul li:nth-child(odd) {
  background: #f9f9f9;
  }
  ul li:hover {
    background: rgb(167, 163, 163);
  }
 

  .card-action {
    margin-top: 10px;
    background-color: blue;
  }

  #myInput {
    width:100%;
  }

  #input {
    width: 100%;
    float: left;
  }



  .header {
    background-color: rgb(29, 3, 119);
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  .header:after { 
    content: "";
    display: table;
    clear: both;
  } 
  #myInput {
    margin: 10;
    border: 2, solid;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    float: center;
    font-size: 16px;
  }
  .add-item {
    padding: 10px;
    margin-top: 25px;
    margin: auto;
    width: 50%;
    color: rgb(240, 231, 233);
    float: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
  }
  .add-item:hover {
    background-color: rgb(30, 48, 238);
    font-size: 22px;
  }
  #clear-list{
    width: 30%;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    cursor: wait;
    font-family: "Times New Roman";
    margin: 40px 35%;
    background-color: darkblue;
    color: goldenrod;
  }
  #clear-list:hover{
    background-color: red;
    color: blue;
  }

